<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    
{%block title%}
   
{%endblock%}
    
<!-- Block META -->

{%block meta%}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Default Description"/>
    <meta name="keywords" content="Magento, Varien, E-commerce"/>
    <meta name="robots" content="INDEX,FOLLOW"/>
{%endblock%}

<!-- Block CSS -->

{%block css%}
    <link rel="icon" href="#" type="image/x-icon"/>
    <link rel="shortcut icon" href="#" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{{asset('Client/css/styles.css')}}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{asset('Client/css/widgets.css')}}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{asset('Client/css/print.css')}}" media="print"/>
    <style type="text/css">.cf-hidden { display: none; } .cf-invisible { visibility: hidden; }</style>
{%endblock%}

<!-- Block JS -->
    
{%block js%}
    <script type="text/javascript" async="" src="{{asset('Client/css/ga.js')}}"></script>
    <script async="" src="css/cloudflare.min.js"></script>
    <script type="text/javascript" src="{{asset('Client/css/prototype.js')}}"></script>
    <script type="text/javascript" src="{{asset('Client/css/ccard.js')}}"></script>
    <script type="text/javascript" src="{{asset('Client/css/validation.js')}}"></script>
    <script type="text/javascript" src="{{asset('Client/css/builder.js')}}"></script>
    <script type="text/javascript" src="{{asset('Client/css/effects.js')}}"></script>
    <script type="text/javascript" src="{{asset('Client/css/dragdrop.js')}}"></script>
    <script type="text/javascript" src="{{asset('Client/css/controls.js')}}"></script>
    <script type="text/javascript" src="{{asset('Client/css/slider.js')}}"></script>
    <script type="text/javascript" src="{{asset('Client/css/js.js')}}"></script>
    <script type="text/javascript" src="{{asset('Client/css/form.js')}}"></script>
    <script type="text/javascript" src="{{asset('Client/css/menu.js')}}"></script>
    <script type="text/javascript" src="{{asset('Client/css/translate.js')}}"></script>
    <script type="text/javascript" src="{{asset('Client/css/cookies.js')}}"></script>
    
    <script type="text/javascript">
        var Translator = new Translate({"Please use only letters (a-z or A-Z), numbers (0-9) or underscore(_) in this field, first character should be a letter.":"Please use only letters (a-z or A-Z), numbers (0-9) or underscores (_) in this field, first character must be a letter."});
    </script>
    
    <script type="text/javascript">
        //<![CDATA[
        Mage.Cookies.path     = '/magento_36548';
        Mage.Cookies.domain   = '.livedemo00.template-help.com';
        //]]>
    </script>
    
    <script type="text/javascript">
        //<![CDATA[
        try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok9v=02fcfa4f56/"},atok:"2d35721d8baa563a90e87777d058d77f",petok:"46305b8e43acb1d497acdaa7ebc34479414515e9-1398955828-86400",zone:"template-help.com",rocket:"0",apps:{"abetterbrowser":{"ie":"7"},"ga_key":{"ua":"UA-7078796-5","ga_bs":"2"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok9v=b064e16429/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
        //]]>
    </script>
    
    <script type="text/javascript">
        /* <![CDATA[ */
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7078796-5']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        (function(b){(function(a){"__CF"in b&&"DJS"in b.__CF?b.__CF.DJS.push(a):"addEventListener"in b?b.addEventListener("load",a,!1):b.attachEvent("onload",a)})(function(){"FB"in b&&"Event"in FB&&"subscribe"in FB.Event&&(FB.Event.subscribe("edge.create",function(a){_gaq.push(["_trackSocial","facebook","like",a])}),FB.Event.subscribe("edge.remove",function(a){_gaq.push(["_trackSocial","facebook","unlike",a])}),FB.Event.subscribe("message.send",function(a){_gaq.push(["_trackSocial","facebook","send",a])}));"twttr"in b&&"events"in twttr&&"bind"in twttr.events&&twttr.events.bind("tweet",function(a){if(a){var b;if(a.target&&a.target.nodeName=="IFRAME")a:{if(a=a.target.src){a=a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);b=0;for(var c;c=a[b];++b)if(c.indexOf("url")===0){b=unescape(c.split("=")[1]);break a}}b=void 0}_gaq.push(["_trackSocial","twitter","tweet",b])}})})})(window);
        /* ]]> */
    </script>
{%endblock%}

</head>
{%block body%}
<body class=" catalog-category-view categorypath-wedding-decoration-html category-wedding-decoration">
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=410047825806487&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="fb-root"></div>
        <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=410047825806487&version=v2.0";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=410047825806487&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    
    
<div class="wrapper">
    <noscript>
            &lt;div class="noscript"&gt;
            &lt;div class="noscript-inner"&gt;
            &lt;p&gt;&lt;strong&gt;JavaScript seem to be disabled in your browser.&lt;/strong&gt;&lt;/p&gt;
            &lt;p&gt;You must have JavaScript enabled in your browser to utilize the functionality of this website.&lt;/p&gt;
            &lt;/div&gt;
            &lt;/div&gt;
    </noscript>
    <div class="page">
        <div class="header">
            <p class="welcome-msg">&nbsp;</p>
            <div class="col-1">
                <form id="search_mini_form" action="#" method="get">
                    <div class="form-search">
                        <label for="search">Rechercher:</label>
                        <input id="search" type="text" name="q" value="" class="input-text" autocomplete="off">
                        <button type="submit" title="Rechercher" class="button"><span><span>Rechercher</span></span></button>
                        <div id="search_autocomplete" class="search-autocomplete" style="display: none;"></div>
                        <script type="text/javascript">
                        //<![CDATA[
                                var searchForm = new Varien.searchForm('search_mini_form', 'search', 'Rechercher...');
                                searchForm.initAutocomplete('http://livedemo00.template-help.com/magento_36548/catalogsearch/ajax/suggest/', 'search_autocomplete');
                        //]]>
                        </script>
                    </div>
                </form>
            </div>
            <div class="logo-box">
    	        <h1 class="logo"><strong>Golden Cage</strong><a href="{{path('golden_cage_front_office_indexpage')}}" title="Golden Cage" class="logo"><img src="{{ asset('Client/images/logo.jpg') }}" alt="WeddingStore"></a></h1>
            </div>
            <div class="col-2">
                <div class="block-currency">
                    <label>Devise</label>
                    <div class="block-content">
                        <select name="currency" title="Votre devise" >
                            <option value="" selected="selected">
                            Tunisien Dinar - TND </option>
                            
                        </select>
                    </div>
                </div>
                <br class="clear">
                <br class="clear">
            </div>
            <br class="clear">
            <div class="menu-block">
                <div class="content">
                    <div class="nav-container">
                        <ul id="nav">
                            <li class="level0 nav-2 level-top parent">
                                <a href="#" class="level-top">
                                <span>La mariée</span>
                                </a>
                                <ul class="level0">
                                    <li  class="level1 nav-2-1 first">
                                        <a href="">
                                        <span>Robe de mariée</span>
                                        </a>
                                    </li><li class="level1 nav-2-3 last">
                                        <a href="#">
                                        <span>Coiffure & Maquiallage</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="level0 nav-3 level-top">
                                <a href="#" class="level-top">
                                <span>Le marie</span>
                                </a>
                                <ul class="level0">
                                    <li class="level1 nav-2-1 first">
                                        <a href="#">
                                        <span>Costume</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="level0 nav-1 level-top first">
                                <a href="#" class="level-top">
                                <span>La réception</span>
                                </a>
                                <ul class="level0">
                                    <li class="level1 nav-2-1 first">
                                        <a href="#">
                                        <span>Salle de fête</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="level0 nav-5 level-top last">
                                <a href="#" class="level-top">
                                <span>Animation</span>
                                </a>
                                <ul class="level0">
                                    <li class="level1 nav-2-1 first">
                                        <a href="#">
                                        <span>Troupe Musicale</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="level0 nav-5 level-top last">
                                <a href="#" class="level-top">
                                <span>Gastronomie</span>
                                </a>
                                <ul class="level0">
                                    <li class="level1 nav-2-1 first">
                                        <a href="#">
                                        <span>Patisserie</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="level0 nav-4 level-top">
                                <a href="#" class="level-top">
                                <span>Photographe</span>
                                </a>
                                <ul class="level0">
                                    <li class="level1 nav-2-1 first">
                                        <a href="#">
                                        <span>Photographe</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="level0 nav-5 level-top last">
                                <a href="#" class="level-top">
                                <span>Voyage</span>
                                </a>
                                <ul class="level0">
                                    <li class="level1 nav-2-1 first">
                                        <a href="#">
                                        <span>Agence de voyage</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="border-bot">&nbsp;</div>
            </div>
            <div class="top-links-block">
                <ul class="links">
                        <li><a href="{{path('golden_cage_front_office_homepage')}}" title="Acceuil" class="top-link-cart">Acceuil</a></li>
                        <li class=" last"><a href="{{path('client_user_security_login')}}" title="Mon Compte">Mon Compte</a></li>
                        <li><a href="{{path('golden_cage_front_office_contactpage')}}" title="Mon Panier" class="top-link-cart">Contacter Nous</a></li>
                        {%block logout%}
                        
                        {%endblock %}
                </ul>
                <div class="clear"></div>
            </div>
        </div> 
        
        {%block login%}
        <div class="main-container col3-layout">
            <div class="main">
                
                <div class="col-wrapper">
                    
                        {% block content %}
                           
                        {% endblock content %}

                    
                </div>
                <div class="col-right sidebar">
                    <div class="block block-cart">
                        <div class="block-title">
                            <strong><span>Mon Panier</span></strong>
                        </div>
                        <div class="block-content">
                            <p class="empty">Panier vide</p>
                        </div>
                    </div>
                    <div class="block block-poll">
                        <div class="block-title">
                            <strong><span>Sondage</span></strong>
                        </div>
                        <form id="pollForm" action="#" method="post" onsubmit="return validatePollAnswerIsSelected();">
                            <div class="block-content">
                                <p class="block-subtitle">QUELLE EST LA PRINCIPALE RAISON POUR VOUS pour acheter des produits en ligne?</p>
                                <ul id="poll-answers">
                                    <li class="odd">
                                            <input type="radio" name="vote" class="radio poll_vote" id="vote_1" value="1">
                                            <span class="label"><label for="vote_1">EXPÉDITION ET LIVRAISON PLUS PRATIQUE  </label></span>
                                    </li>
                                    <li class="even">
                                            <input type="radio" name="vote" class="radio poll_vote" id="vote_2" value="2">
                                            <span class="label"><label for="vote_2">PRIX BAS </label></span>
                                    </li>
                                    <li class="odd">
                                        <input type="radio" name="vote" class="radio poll_vote" id="vote_3" value="3">
                                        <span class="label"><label for="vote_3">CHOIX PLUS GRAND </label></span>
                                    </li>
                                    <li class="even">
                                        <input type="radio" name="vote" class="radio poll_vote" id="vote_4" value="4">
                                        <span class="label"><label for="vote_4">PAIEMENTS DE SÉCURITÉ </label></span>
                                    </li>
                                    <li class="odd">
                                        <input type="radio" name="vote" class="radio poll_vote" id="vote_5" value="5">
                                        <span class="label"><label for="vote_5">RECHERCHE De PRODUIT Facile (sans avoir à quitter votre domicile) </label></span>
                                    </li>
                                    <li class="even">
                                        <input type="radio" name="vote" class="radio poll_vote" id="vote_6" value="6">
                                        <span class="label"><label for="vote_6">AUTRES.</label></span>
                                    </li>
                                </ul>
                                <script type="text/javascript">decorateList('poll-answers');</script>
                                <div class="actions">
                                    <button type="submit" title="Voter" class="button"><span><span>Voter</span></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="block block-subscribe">
                        <div class="block-title">
                                <strong><span>Nouveauté par E-mail</span></strong>
                        </div>
                        <form action="" method="post" id="newsletter-validate-detail">
                            <div class="block-content">
                                <div class="form-subscribe-header">Inscrivez vous !!</div>
                                <label for="newsletter">Inscrivez vous !!</label>
                                <div class="input-box">
                                   <input type="text" name="email" id="newsletter" title="Inscrivez vous !!" class="input-text required-entry validate-email">
                                </div>
                                <div class="actions">
                                    <button type="submit" title="S'incrire" class="button"><span><span>S'incrire</span></span></button>
                                </div>
                            </div>
                        </form>
                        <script type="text/javascript">
                        //<![CDATA[
                                var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
                        //]]>
                        </script>
                    </div>
                    <div class="block block-tags">
                        <div class="block-title">
                            <strong><span>Publicité</span></strong>
                        </div>
                        <div class="block-content">
                            <ul class="tags-list">
                                    <li><a href="" style="font-size:75%;">Candles</a></li>
                                    <li><a href="" style="font-size:125%;">Favor Holders</a></li>
                                    <li><a href="" style="font-size:75%;">Napkins</a></li>
                                    <li><a href="" style="font-size:75%;">Parasols</a></li>
                                    <li><a href="" style="font-size:75%;">Personalized Matches</a></li>
                                    <li><a href="" style="font-size:125%;">Toasting Flutes</a></li>
                                    <li><a href="" style="font-size:75%;">Wedding Bells</a></li>
                                    <li><a href="" style="font-size:75%;">Wedding Decorations</a></li>
                                    <li><a href="" style="font-size:125%;">Wedding Signs</a></li>
                                    <li><a href="" style="font-size:125%;">Сonfetti</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="paypal-logo">
                        <a href="#" title="PAY PAL" onclick="javascript:window.open(&#39;https://www.paypal.com/us/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside&#39;,&#39;paypal&#39;,&#39;width=600,height=350,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes&#39;); return false;"><img src="{{asset('Client/images/bnr_nowAccepting_150x60.gif')}}" alt="Additional Options" title="PAY PAL"></a>
                    </div>
                    <hr/>
                    <br/>
                    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FGoldenCage.net&amp;width=200&amp;height=290&amp;colorscheme=dark&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=false&amp;appId=410047825806487" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:290px;" allowTransparency="true"></iframe>
                    
                </div>
                
            </div>
            
        </div>
        
        {%endblock%}    
    
    
    <div class="footer">
        <div class="footer-block">
            <ul>
                <li><a href="#"></a></li>
                <li class="last"><a href="#"></a></li>
            </ul> 
            <ul class="links">
                <li class="first"><a href="#"></a></li>
                <li class=" last"><a href="#"></a></li>
            </ul>
                <div class="copy">Golden Cage <script type="text/javascript">var mdate = new Date(); document.write(mdate.getFullYear());</script> © X-CODERS. Tous les droits réservé.</div>
                <div class="clear"></div>
        </div> 
    </div>
</div>
</div>
<script type="text/javascript">/* CloudFlare analytics upgrade */
</script>
</body>
{%endblock%}
</html>


